@import 'https://fonts.googleapis.com/css?family=News+Cycle';

html {
	font-family: 'News Cycle';
}

.card {
	position: relative;
	width: 25%;
	padding-bottom: 25%;
	text-align: center;
	left: 5%;
	margin: 20px;
	float: left;

	.card__front {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 10px;
		transition: all 0.3s;
		border-radius: 9px;
		border: 4px solid #999;
		backface-visibility: hidden;
		background-color: #F2836C;

		img {
			position: relative;
		}

		.img-circle {
			border-radius: 50%;
			border: 4px solid #fff;
			background-color: #21F5EE;
			height: 40%;
			width: 40%;
		}

		.card__text {
			text-align: left;
		}

	}

	.card__back {
		@extend .card__front;
		background-color: #7ECB89;
		transform: rotateY(-180deg);
	}
}

.card.effect__click.flipped .card__front {
	transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
	transform: rotateY(0);
}